{{define "alerts"}}
{{range .errors}}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{.}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{{end}}
{{range .notifications}}
<div class="alert alert-success alert-dismissible fade show" role="alert">
    {{.}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{{end}}
{{end}}