{{template "header" .title}}
<div class="container">
    {{template "alerts" .}}

    <div class="row">
        <div class="col-sm-10">
            <div class="row justify-content-around">
                <h4 class="col-sm-4">Please Login</h4>
            </div>

            <form action="/login" class="needs-validation" method="post">
                <div class="form-group row">
                    <label for="inputEmail" class="col-sm-3 col-form-label">Email address</label>
                    <div class="col-sm-9">
                        <input type="email" name="email" class="form-control" id="inputEmail" placeholder="Email address" required autofocus>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputPassword" class="col-sm-3 col-form-label">Password</label>
                    <div class="col-sm-9">
                        <input type="password" name="password" class="form-control" id="inputPassword" placeholder="Password" required>
                    </div>
                </div>
                <div class="form-group row justify-content-around">
                    <button class="btn btn-lg btn-primary btn-block col-sm-4" type="submit">Log in</button>
                </div>
            </form>
        </div>
    </div>
    <div class="row justify-content-around">
        <div class="col-sm-4">
            <a href="/register" class="btn btn-secondary btn-sm">Register new user</a><br/>
        </div>
        <div class="col-sm-4">
            <a href="/google/login" class="btn btn-secondary btn-sm">Login with Google</a>
        </div>
    </div>
</div>
{{template "footer"}}