{{template "header" .title}}
<div class="container">
    {{template "alerts" .}}
    <div class="row">
        <div class="col-sm-10">
            <div class="row justify-content-around">
                <h4 class="col-sm-4">Edit profile information</h4>
            </div>

            <form action="/profile/edit/update" class="needs-validation" method="post">
                <div class="form-group row">
                    <label for="inputEmail" class="col-sm-3 col-form-label">Email</label>
                    <div class="col-sm-9">
                        <input type="text" id="inputEmail" name="email" class="form-control" placeholder="" value="{{ .user.Email }}" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputFullName" class="col-sm-3 col-form-label">Full Name</label>
                    <div class="col-sm-9">
                        <input type="text" id="inputFullName" name="full_name" class="form-control" placeholder="" value="{{ .user.FullName }}" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputPhoneNumber" class="col-sm-3 col-form-label">Phone Number</label>
                    <div class="col-sm-9">
                        <input type="text" id="inputPhoneNumber" name="phone_number" class="form-control" placeholder="" value="{{if .user.PhoneNumber.Valid}}{{ .user.PhoneNumber.String }}{{end}}" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputAddress" class="col-sm-3 col-form-label">Address</label>
                    <div class="col-sm-9">
                        <input type="text" id="inputAddress" name="address" class="form-control" placeholder="" value="{{if .user.Address.Valid}}{{ .user.Address.String }}{{end}}" required>
                    </div>
                </div>

                <div class="form-group row justify-content-around">
                    <input type="submit" class="btn btn-primary col-sm-4" value="Save changes"/>
                </div>
            </form>

        </div>
    </div>
    <div class="row">
        <div class="col-sm-10">
            <div class="row justify-content-around">
                <form action="/logout" method="post">
                    <input type="submit"  class="btn btn-secondary" value="Logout"/>
                </form>
            </div>
        </div>
    </div>
</div>
{{template "googleApi"}}
{{template "footer"}}