{{template "header" .title}}
<div class="container">
    {{template "alerts" .}}
    <div class="row">
        <div class="col-sm-10">
            <div class="row justify-content-around">
                <h4 class="col-sm-4">Profile information</h4>
            </div>

            <div class="form-group row">
                <label for="staticEmail" class="col-sm-3 col-form-label">Email</label>
                <div class="col-sm-9">
                    <input type="text" id="staticEmail" class="form-control" readonly value="{{ .user.Email }}">
                </div>
            </div>
            <div class="form-group row">
                <label for="staticFullName" class="col-sm-3 col-form-label">Full Name</label>
                <div class="col-sm-9">
                    <input type="text" id="staticFullName" class="form-control" readonly value="{{ .user.FullName }}"/>
                </div>
            </div>
            <div class="form-group row">
                <label for="staticPhoneNumber" class="col-sm-3 col-form-label">Phone Number</label>
                <div class="col-sm-9">
                    <input type="text" id="staticPhoneNumber" class="form-control" readonly value="{{if .user.PhoneNumber.Valid}}{{ .user.PhoneNumber.String }}{{end}}"/>
                </div>
            </div>
            <div class="form-group row">
                <label for="staticAddress" class="col-sm-3 col-form-label">Address</label>
                <div class="col-sm-9">
                    <input type="text" id="staticAddress" class="form-control" readonly value="{{if .user.Address.Valid}}{{ .user.Address.String }}{{end}}"/>
                </div>
            </div>

            <div class="form-group row justify-content-around">
                <a class="btn btn-primary col-sm-4" href="/profile/edit">Change</a>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-sm-10">
            <div class="row justify-content-around">
                <form action="/logout" method="post">
                    <input type="submit"  class="btn btn-secondary" value="Logout"/>
                </form>
            </div>
        </div>
    </div>
</div>
{{template "footer"}}