{{template "header" .title}}
<div class="container">
        {{template "alerts" .}}
        <div class="row">
            <div class="col-sm-10">
                <div class="row justify-content-around">
                    <h4 class="col-sm-4">Register new user</h4>
                </div>
                <form action="/register/create" class="needs-validation" method="post">
                    <div class="form-group row">
                        <label for="inputEmail" class="col-sm-3 col-form-label">Email</label>
                        <div class="col-sm-9">
                            <input type="email" id="inputEmail" name="email" class="form-control" placeholder="" value="" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-3 col-form-label">Password</label>
                        <div class="col-sm-9">
                            <input type="password" id="inputPassword" name="password" class="form-control" placeholder="" value="" required/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPasswordAgain" class="col-sm-3 col-form-label">Password again</label>
                        <div class="col-sm-9">
                            <input type="password" id="inputPasswordAgain" name="password_again" class="form-control" placeholder="" value="" required/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputFullName" class="col-sm-3 col-form-label">Full Name</label>
                        <div class="col-sm-9">
                            <input type="text" id="inputFullName" name="full_name" class="form-control" placeholder="" value="" required/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPhoneNumber" class="col-sm-3 col-form-label">Phone Number</label>
                        <div class="col-sm-9">
                            <input type="text" id="inputPhoneNumber" name="phone_number" class="form-control" placeholder="" value=""/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputAddress" class="col-sm-3 col-form-label">Address</label>
                        <div class="col-sm-9">
                            <input type="text" id="inputAddress" name="address" class="form-control" placeholder="" value=""/>
                        </div>
                    </div>

                    <div class="form-group row justify-content-around">
                        <input type="submit" class="btn btn-primary col-sm-4" value="Register">
                    </div>
                </form>
            </div>
        </div>
    </div>
{{template "googleApi"}}
{{template "footer"}}